AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-zA-Z/_-]+)$ index.php [L,QSA]
DirectoryIndex index.php

ErrorDocument 404 /404.php